<!doctype html>
<html ng-app="">
<head>

  <meta charset="utf-8" lang="fr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> POKÉMAIN </title>
  <link rel="stylesheet" type="text/css" href="pokemain.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <script src="pokemain.js"></script>

</head>

<body>

  <div class="frame"><div class="corner"></div></div>

  <main class="content">
    <header class="logo">
      <img src="gallery/logo.png" alt="logo">
    </header>

    <div class="charpannel">
      <div class="charbox bulbizarre" onclick="bulbizarre()">
        <img src="gallery/bulbizarre.png" alt="Bulbizarre" class="char" onclick="versus()">
        <figure>
          <img src="gallery/plante.png" alt="Type:Plante" class="type">
          <figcaption>Bat: Eau & Psy</figcaption>
        </figure>
      </div>
      <div class="charbox salamèche" onclick="salamèche()">
        <img src="gallery/salamèche.png" alt="Salamèche" class="char">
        <figure>
          <img src="gallery/feu.png" alt="Type:Feu" class="type">
          <figcaption>Bat: Électrik & Plante</figcaption>
        </figure>
      </div>
      <div class="charbox carapuce" onclick="carapuce()">
        <img src="gallery/carapuce.png" alt="Carapuce" class="char">
        <figure>
          <img src="gallery/eau.png" alt="Type:Eau" class="type">
          <figcaption>Bat: Feu & Psy</figcaption>
        </figure>
      </div>
      <div class="charbox pikachu" onclick="pikachu()">
        <img src="gallery/pikachu.png" alt="Pikachu" class="char">
        <figure>
          <img src="gallery/electrik.png" alt="Type:Electrik" class="type">
          <figcaption>Bat: Eau & Plante</figcaption>
        </figure>
      </div>
      <div class="charbox ramoloss" onclick="ramoloss()">
        <img src="gallery/ramoloss.png" alt="Ramoloss" class="char">
        <figure>
          <img src="gallery/psy.png" alt="Type:Psy" class="type">
          <figcaption>Bat: Électrik & Feu</figcaption>
        </figure>
      </div>
    </div>

    <div class="choose">
      <h1>CHOISIS TON POKÉMON !</h1>
    </div>
  </main>

  <footer class="navbar">
    <button ng-click="rules=!rules" class="règles">RÈGLES !</button>
    <div id="règles" ng-show="rules" ng-click="rules=false">
      <h1>En 5 parties !</h1>
      <h1>Plante</h1><p>Bat Eau & Psy</p>
      <h1>Feu</h1><p>Bat Électrik & Plante</p>
      <h1>Eau</h1><p>Bat Feu & Psy</p>
      <h1>Électrik</h1><p>Bat Eau & Plante</p>
      <h1>Psy</h1><p>Bat Électrik & Feu</p>
    </div>
    <div id="score">
      <script>document.getElementById('score').innerHTML = 'SCORE: '+localStorage.getItem('score')+' MEILLEUR: '+localStorage.getItem('best')+' PARTIE: '+localStorage.getItem('partie')+'/5';</script>
    </div>
    <button ng-click="apropos=!apropos" class="règles">À PROPOS !</button>
    <div id="propos" ng-show="apropos" ng-click="apropos=false">
      <h1>Crédits :</h1>
      <p>
        Images : © <a href="http://www.pokepedia.fr/Portail:Accueil">Poképédia</a><br>
        Pokéball : © <a href="http://www.p-pokemon.com/article-pokeballge.html">P-Pokemon</a><br>
        Logo : Adapté de <a href="http://pixelartmaker.com/art/d98dde45d242734">PixelArtMaker</a><br>
        Contact : <a href="mailto:pokemainbhr@gmail.com">PaulBHR</a>
      </p>
    </div>
  </footer>

  <section id="resultbox">
    <div id="resultimg">
      <img src="gallery/bulbizarre.png" class="char">
      <img src="gallery/chen.png" class="chen">
      <img src="gallery/carapuce.png" class="char">
    </div>
    <div class="content" id="resulttxt">
      <h1>Félicitations!</h1>
      <p>Bulbizarre a battu</p>
      <a href="">Rejouer!</a>
    </div>
  </section>

</body>


</html>
